server.port: {{ eureka.server_port }}

spring.application.name=eureka-server
eureka.client.serviceUrl.defaultZone: {{ eureka.defaultZone }}
eureka.client.registerWithEureka: {{ eureka.registerWithEureka }}
eureka.client.fetchRegistry: {{ eureka.fetchRegistry }}

